body {
	font-family: Garamond;
	background-color: rgba(242, 240, 230, 0.5)
}

.para {
	text-align: center;
	width:500px;
	margin:0 auto;
	font-size: 20px;
	color:#787878;
}

.pi {
	width:300px;
	margin:0 auto;
}

.rb {
	width:200px;
	align:right;
	margin:0 auto;
}

.rb{
	width:300px;
	align:right;
	margin:0 auto;
}

.indent {
    
	font-family: "Times New Roman";
	font-size:24px;
	padding-left: 130px;
}

.about{
	text-align:center;
	margin:0 auto;
	font-size:26px;
}

.aboutleft{
	text-align: left;
	margin:auto;
	width:60%;
	font-size:24px;
}

.resume{
	text-align:center;
	margin:0 auto;
	width:1000px;
	background-image: url("Photos/paper.jpg");
	box-shadow: 10px 10px 5px grey;
	padding-left:80px;
	padding-right:80px;
	padding-top:20px;
	padding-bottom:20px;
}

.mediumtext{
	font-family: "Times New Roman";
	font-size:24px;
}

.right{
	float:right;
	font-family: "Times New Roman";
	font-size:26px;
	text-align: right;
}

.left{
	float:left;
	font-family: "Times New Roman";
	font-size:26px;
}

.timesnewroman{
	font-family: "Times New Roman";
	font-size:26px;
}

.header {
	color:#808080;
}

.round{
	border-radius: 50%;
}


.main {
	position:fixed;
}

/* Place the navbar at the bottom of the page, and make it stick */
/* background gives it a gradient effect from light grey to completely transparent */
.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(242, 240, 230,0));
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 99.5%;
	font-family: 'Share Tech Mono';
	
}

.centertable {
	align:center;
	margin:0 auto;
}

.exp{
	align:right;
	margin:0 auto;
}

.ta{
	align:center;
	margin:0 auto;
	width:630px;
}

.sb{
	align:center;
	margin:0 auto;
	width:100px;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: rgba(144, 238, 144);
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background: linear-gradient(rgba(179, 255, 203, 1), rgba(242, 240, 230,0));
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background: linear-gradient(rgba(102, 255, 153, 1), rgba(242, 240, 230,0)); 
    color: black;
}


.parallax1 {
    /* The image used */
    background-image: url("Photos/bodybgedit.jpg");
	
    /* Set a specific height */
    min-height: 1300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url("Photos/bodybgedit.jpg");
	
	
    /* Set a specific height */
    min-height: 800px; 
	
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;
}
.parallax3 {
    /* The image used */
    background-image: url("Photos/wtc.png");
	
    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;
}

.parallax4 {
    /* The image used */
    background-image: url("Photos/androidstudioproject.png");
	

    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;

}

.centeredtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Adds a stroke to the text to make it easier to read */
.picturetext{
	text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
	font-family: "Times New Roman";
	font-size:24px;
	color:yellow;
}

/* Makes the header a bit bigger w/ white text but with stroke and same font family */
.picturetexthead{
	text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
	font-family: "Times New Roman";
	font-size:28px;
	color:white;
}
/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.parallax5 {
    /* The image used */
    background-image: url("Photos/blur.jpg");
	
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;
}
.parallax6 {
    /* The image used */
    background-image: url("Photos/wall2.jpg");
	

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;
}
.parallax7 {
    /* The image used */
    background-image: url("Photos/building.jpg");
	

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;
}

.parallax8 {
    /* The image used */
    background-image: url("Photos/architecture.jpg");
	

    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;
}

.parallax9 {
    /* The image used */
    background-image: url("Photos/androidstudioproject.png");
	

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;
}

.centeredtextbig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size:42px;
}

.stroke {
	text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.projects {
	text-align:center;
	margin:0 auto;
	width:1000px;
	font-size:26px;
}

.parallax10 {
    /* The image used */
    background-image: url("Photos/srcode.png");
	

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;
}

.parallax11 {
    /* The image used */
    background-image: url("Photos/wtc.png");
	

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	/* For centering of text */
	position: relative;
    text-align: center;
}

#projectsheader{
	animation-duration:2s;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input {
	padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

checkbox {
	
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark2 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark2:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.ulnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.linav {
    float: left;
}


.hero-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -9999;
}


video {
  width: 100%;
  max-width: 100%;

}
